{% extends "todo/base.html" %}
{% block content %}
<style>
    h2 {
        color: #ffc107;
    }

    .table thead th {
        color: #ffc107;
        border-bottom: 2px solid #ffc107;
    }

    a.btn-link {
        color: #ffc107;
    }

        a.btn-link:hover {
            color: #e0a800;
            text-decoration: none;
        }
</style>

<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2>Ruta de Picking</h2>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Pasillo</th>
                    <th>Estante</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for m in ruta %}
                <tr>
                    <td>
                        {% if m.producto.ubicacion %}
                        {{ m.producto.ubicacion.pasillo }}
                        {% else %}
                        no
                        {% endif %}
                    </td>
                    <td>
                        {% if m.producto.ubicacion %}
                        {{ m.producto.ubicacion.estante }}
                        {% else %}
                        no
                        {% endif %}
                    </td>
                    <td>{{ m.producto.title }}</td>
                    <td>{{ m.cantidad }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_picking' %}" class="btn btn-link"> Nueva Orden de Picking</a>
    </div>
</div>
{% endblock %}
