{% extends "todo/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Reporte de Movimientos</h2>
    <a href="{% url 'reporte_movimientos_pdf' %}" class="btn btn-warning mb-3">Descargar PDF</a>
    <table class="table table-striped">
        <thead class="table-warning">
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Producto</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for m in movimientos %}
            <tr>
                <td>{{ m.fecha|date:"Y-m-d H:i" }}</td>
                <td>{{ m.get_tipo_display }}</td>
                <td>{{ m.producto.title }}</td>
                <td>{{ m.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
